{% extends "base.html" %}

{% block body %}
{% if data %}
<div class="container" style="padding-top: 20">

    <center>
        <form method="post">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="submit" value="Encrypt" name="Encrypt" class="btn btn-danger btn-lg">Отменить заказ</button>
                <button type="submit" value="Decrypt" name="Decrypt" class="btn btn-primary btn-lg">Подтвердить</button>
            </div>
            <div class="row mb-3" style="margin-top:1rem;">
                <label for="city" class="col-sm-2 col-form-label">Город</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" id="city" name="city_user"
                               placeholder="{{city['city']}}" required>
                        <div class="valid-tooltip">
                            Все хорошо!
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </center>

</div>

<div class="container" style="padding-top: 20">
    <div class='row mb-2'>

        {% for good in data %}
        <div class="col-md-6">
            <form method="post">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <a href="{{url_for('item', id_item=good['id']) }}">
                            <strong class="d-inline-block mb-2 text-primary">О товаре</strong>
                        </a>
                        <h3 class="mb-0">{{good["name"]}}</h3>
                        <div class="mb-1 text-muted">{{good["price"]}} рублей</div>
                        <p class="card-text mb-auto">{{good["about"]}}</p>
                        <button type="submit" value="remove  {{good['id']}}" name="Remove" class="btn btn-danger btn-lg">Убрать</button>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img mx-auto rounded-circle not_scale_img" width="250" height="250"
                             xmlns="http://www.w3.org/2000/svg"
                             preserveAspectRatio="xMidYMid slice"
                             src="{{url_for('static', filename=good['avatar'])}}"
                             focusable="false">
                        </img>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>

</div>{%endif%}
{% endblock %}