{% extends "base.html" %}

{% block body %}
<div class="container" style="padding-top: 20">
    <center>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger btn-lg">Отменить заказ</button>
            <button type="button" class="btn btn-primary btn-lg">Подтвердить</button>
        </div>
    </center>
</div>

<div class="container" style="padding-top: 20">
    <div class='row mb-2'>
        {% for good in data %}
        <div class="col-md-6">
            <form method="post"><
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{{url_for('item', id_item=good['id']) }}">
                        <strong class="d-inline-block mb-2 text-primary">О товаре</strong>
                    </a>
                    <h3 class="mb-0">{{good["name"]}}</h3>
                    <div class="mb-1 text-muted">{{good["price"]}} рублей</div>
                    <p class="card-text mb-auto">{{good["about"]}}</p>
                    <h3 class="mb-0">Убрать</h3>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img rounded-circle" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                         role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                         focusable="false">
                        <img class="mx-auto rounded-circle" style=" "
                             src="{{url_for('static', filename=good['avatar'])}}" width="170" height="170"
                             alt="альтернативный текст">
                    </svg>
                </div>
            </div>
            </form>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}